::-webkit-scrollbar {
    width: 6px;
  }
  

  ::-webkit-scrollbar-track {
    background: #A39583;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #564C4A;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #A39583;
  }