::-webkit-scrollbar {
    width: 6px;
  }
  

  ::-webkit-scrollbar-track {
    background: #3E2253;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #C886BA;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #613F7A;
  }